body {
      margin: 0;
      padding: 0;
      height: 100vh;
      background-image: url('images/city night.jpg'); 
      background-size: cover;
      background-position: center;
      font-family: 'Segoe UI', sans-serif;
      color: white;
    }
    .clock-box {
      position: absolute;
      top: 20%;
      transform: translateY(-50%); 
      background-color: rgba(0, 0, 0, 0.515);
      padding: 2px 4px;
      border-radius: 10px;
      text-align: center;
      font-size: 30px;
      color:black;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(8px);
      border: 2px solid rgba(0, 0, 0, 0.5)
    }